/* Colors
 *
 * Primary #993300
 * Primary Dark
 */

@font-face {
    font-family: myFirstFont;
    src: url(GOTHIC.TTF);
}

@font-face {
	font-family: GothicBI;
	src: url(GOTHICBI.TTF);
}

@font-face {
    font-family: Florencesans;
    src: url(florencesans.ttf);
}


html {
    height: 100%;
}

body {
    height: 100%;
    background-image:url(../images/back.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    font-family:"myFirstFont", sans-serif;
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main {
    font-family:"myFirstFont", sans-serif;
}

#credit {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
    height: 6%;
    background-color: #993300;
    color: white;
    font-family:"myFirstFont", sans-serif;
}

#credit h4 {
    margin-top: 0;
    font-family:"myFirstFont", sans-serif;
}

#dialog {
    border-radius: 20px;;
    z-index: 10;
    padding: 30px 30px 10px 30px;
    font-family:"myFirstFont", sans-serif;
}

#button_login {
    font-weight: bold;
    font-family:"myFirstFont", sans-serif;
}

#button_register {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    background-color: #993300;
    font-family:"myFirstFont", sans-serif;
}

.button_play, .button_multiplayer {
    color: black;
    background-image:url(../images/back.png);
    border: 2px solid #993300;
    border-radius: 10px;
    height: 150px;
    font-size: 25px;
}

.button_level {
  color: black;
  background-image:url(../images/back.png);
  border: 2px solid #993300;
  border-radius: 10px;
  height: 100px;
  font-size: 30px;
}

#button_close_modal {
    background-color: white;
    color: #993300;
    font-family:"myFirstFont", sans-serif;
}

#modal-card-image{
    margin-bottom:30px;
    font-family:"myFirstFont", sans-serif;
}

.row {
    margin: 0;
}

.title {
    border-bottom: 1px solid lightgrey;

}

.primary {
    color: #993300 !important;
}

.primary_background {
    background-color: #993300 !important;
}

.navbar-brand {
    font-size: 1.7em;
}

.navbar-icon {
    font-size: 1.5em;
}

.navbar {
    padding: 0 8.33333333%;
}

.panel-body {
    padding: 0;
}

/*
 *  Table
 */
table {
    width:100%;
    font-family:"myFirstFont", sans-serif;
}
 table > thead > tr > th {
     border-bottom: 2px solid #E0E0E0;
     color: #A0A0A0;
     text-align: left;
     padding-bottom: 25px;
     padding-top: 10px;
     font-family:"myFirstFont", sans-serif;
 }

div{
	font-family:"myFirstFont", sans-serif;
}

a{
	font-family:"myFirstFont", sans-serif;
}

p{
	font-family:"myFirstFont", sans-serif;
}

.gothic{
	font-family:"myFirstFont", sans-serif;
	font-weight:bold;
}

.titulo {
	font-family:"Florencesans", sans-serif;
	font-weight:bold;
}

.current_user {
     background-color:#D0D0D0;
}

.redondeado{
	border-radius: 20px !important;
}

.recuadro {
    padding: 2.5%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.recuadro-blanco {
  background-color: white;
  padding: 1%;
  margin-bottom: 1%;
  box-shadow: 7px 7px 5px rgba(0,0,0,0.2);
}

.pantalla-final {
  margin-top: 7%;
}

#bottom {
    position: fixed;
    left:0px;
    right:0px;
    bottom: 0px;
    margin-bottom: 0px;
    background-color: #993300;
}

#landing {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#landing h1 {
    font-size: 400%;
    margin-bottom: 15px;
    font-family:"Florencesans", sans-serif;
}

#landing p {
    font-size: 200%;
    margin-bottom: 60px;
    font-family:"Florencesans", sans-serif;
}

#instructions {
    display: table-cell;
    width: 75%;
    margin-left: 25%;
    vertical-align: middle;
    text-align: center;
}

#instructions h1 {
    font-size: 220%;
    font-style: italic;
    margin-bottom: 15px;
    font-family:"Florencesans", sans-serif;
}

#instructions p {
    font-size: 140%;
    margin: 1em;
    line-height: 1;
    font-family:"Florencesans", sans-serif;
}

#greeting {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#greeting p {
    font-size: 140%;
    margin: 1em;
    line-height: 1;
    font-family:"Florencesans", sans-serif;
}

.enfasis {
    font-weight: bold;
    font-style: italic;
    font-size: 110%;
}
