<div id="main">
<div class="row">
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-2 col-md-2" style="margin-top:50px">
        <img src="images/inicio-izq1.png" width="60%" height="60%" style="margin-top:60%; margin-left:30%">
        <img src="images/inicio-izq2.png" width="78%" height="78%" style="margin-top:15%; margin-left: 20%">
    </div>
    <div class="col-xs-2 col-md-2" style="margin-top:200px">
    </div>
    <div class="col-xs-6 col-md-6 well page active container" id="dialog">
        <form class="form-horizontal" >
            <fieldset>
                <legend>Iniciar Sesión</legend>
                <div class="form-group">
                    <label for="inputNAME" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                        <input required type="text" class="form-control" id="inputName" placeholder="Nombre" ng-model="user.id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
                    <div class="col-lg-10">
                        <input required type="password" class="form-control" id="inputPassword" placeholder="Contraseña" ng-model="user.password">
                    </div>
                </div>
                <div>
                <div style="float: right" >
                            <input type="image" ng-click="loginUser(user.id, user.password)" src="images/mano-ingresar.png" style="width: 80;"/>
                            <p id="button_login">Ingresar</p>
                </div>
                <div style="float: left; margin-top:3%">
                    <button id="button_register" type="submit" ng-click="registerUser(user.id, user.password)" class="btn">Registrar<div class="ripple-wrapper"></div></button>
                </div>
                </div>
            </fieldset>
        </form>
        <div id="error" class="alert alert-dismissable alert-danger" style="display:none">
            <button type="button" class="close" ng-click="hideErrorMessage()">×</button>
            {{errorMessage}}
        </div>
    </div>
    <div class="col-xs-2 col-md-2" style="margin-top:3%">
        <img src="images/inicio-anar.png" width="100%" height="100%">
    </div>
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-2 col-md-2" style="margin-top:50px">
        <img src="images/inicio-der1.png" width="50%" height="50%" style="margin-top:65%">
        <img src="images/inicio-der2.png" width="80%" height="80%" style="margin-top:20%">
    </div>
</div>
<div class="row" style="margin-top:25px">
	<div class="col-xs-2"></div>
	<div class="col-xs-2">
	 <img src="images/inicio-izq3.png" width="80%" height="80%" style="margin-left:10%;">
	 </div>
	 <div class="col-xs-4"></div>
	 <div class="col-xs-2">
	 <img src="images/inicio-der3.png" width="50%" height="50%" style="margin-left: 30%;">
	 </div>
	<div class="col-xs-2"></div>
</div>
</div>

<div id="credit" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: center; height: 100%">
        <h4 class="container">Todos los derechos reservados. © FUNDABITAT</h4>
    </div>
    <div class="col-xs-2"></div>
</div>
