<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Modo Multijugador | Sala de Juego {{gamedata.id}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="logOut()">
                    <i class="mdi-action-exit-to-app navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <a class=navbar-brand> {{mydata.username}} | {{mydata.score}} puntos</a>
    </div>
    <div class="navbar-nav navbar-right">
      <a class=navbar-brand>  {{other_player_data.username}} | {{other_player_data.score}} puntos </a>
    </div>
</div>

<div class="container">
    <!--Cabecera-->
        <!--Lista de Todos-->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="checkbox" ng-repeat="gameplay in all_gameplays">
                    <label>
                      [{{gameplay.from}}]: {{ gameplay.text }}
                    </label>
                 </div>
             </div>
         </div>
         <!--Formulario para insertar nuevos Todo-->
         <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Diga Algo" ng-model="jugada">
                    </div>
                    <button class="btn btn-primary btn-lg" ng-click="sendGameplay()">Enviar</button>
                </form>
            </div>
        </div>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
