<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand" ng-click="changePage('profile')">
            <i class="mdi-navigation-arrow-back navbar-icon"></i>
        </a>
        <a class="navbar-brand">Bienvenido, {{user._id}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="changePage('collection')">
                    <i class="mdi-content-content-copy navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="changePage('highscores')">
                    <i class="mdi-editor-insert-chart navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="logOut()">
                    <i class="mdi-action-exit-to-app navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-controller="ChatController">
    <!--Cabecera-->
        <div class="jumbotron text-center">
            <h2>Prueba Multijugador<span class="label label-info"></span></h2>
            <h4>Sala de Juego {{gameID}}<span class="label label-info"></span></h4>
        </div>
        <!--Lista de Todos-->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="checkbox" ng-repeat="each_message in all_messages">
                    <label>
                      {{ each_message.text }}
                    </label>
                 </div>
             </div>
         </div>
         <!--Formulario para insertar nuevos Todo-->
         <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Diga Algo" ng-model="jugada">
                    </div>
                    <button class="btn btn-primary btn-lg" ng-click="sendMessage()">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
