<link rel="stylesheet" href="styles/game.css">

<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand" ng-click="changePage('home')">
            <i class="mdi-navigation-arrow-back navbar-icon"></i>
        </a>
        <a class="navbar-brand">{{level.name}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="restartGame()">
                    <i class="mdi-action-autorenew navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="recuadro">
    <div class="well page">

        <div id="invisible" ng-click="quitarZoom()">
            <div id="invisible_interno">
                <img ng-src="{{zoom}}"/>
            </div>
        </div>

        <div id="game_screen">
            <div ng-repeat="i in [] | range: cards.length / 5">
                <div class="row"  ng-class="{'last':$last}">
                    <div class="col-md-1"></div>
                    <div  class="col-xs-6 col-md-2" ng-repeat="j in array">
                        <div style="position: relative; left: 0; top: 0;">
                            <div ng-click="showCard(cards[i*5 + j])">
                                <img class="{{cards[i*5 + j]._id}} card" ng-src="{{cards[i*5 + j].imageShown}}"/>
                            </div>
                            <div ng-if="conLupa">
                                <div ng-click="hacerZoom(cards[i*5 + j])">
                                    <img class="lupa" id="{{cards[i*5+j].position}}" src="images/lupa.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

        <div id="win_screen" style="display: none">
            <div class="row">
                <div class="col-md-3">
                    <img src="images/inicio-der1.png" width="60%" height="60%">
                </div>
                <div class="col-md-6">
                    <h1>¡GANASTE!</h1>
                    <h2>Has ganado {{score}} puntos</h2>
                    <button id="button_confirm" ng-click="changePage('home')" class="btn">
                        Continuar
                        <div class="ripple-wrapper"></div>
                    </button>
                    <h2>Desbloqueaste esta carta</h2>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img height="80%" width="80%" ng-src="{{obtainedCard.image}}">
                        <p>{{obtainedCard.name}}<p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="col-md-3">
                    <img src="images/inicio-izq1.png" width="60%" height="60%">
                </div>
            </div>
        </div>

        <div id="loser_screen" class="row" style="display: none">
            <div class="col-md-3">
                <img src="images/inicio-der1.png" width="60%" height="60%">
            </div>
            <div class="col-md-6">
                <h1>PERDISTE</h1>
                <h2>Se te acabó el tiempo</h2>
                <br><br>
                <h3>¡Intentalo de nuevo!</h3>
                <i href="#" class="mdi-action-autorenew navbar-icon" ng-click="restartGame()"></i>
            </div>
            <div class="col-md-3">
                <img src="images/inicio-izq1.png" width="60%" height="60%">
            </div>
        </div>
    </div>
</div>
<div id="obtenidas"></div>
<div id="timer" class="circle">{{counter}}</div>
