<div class="primary_background navbar navbar-default ">
</div>
<div style="display: table; width: 100%; height: 75%">
    <div id="greeting">
        <p>
			<i>FUNDABITAT</i> y su proyecto <i>ANAR -Archivo Nacional de
			 Arte Rupestre-</i><br>con el apoyo de estudiantes de <i>Ingeniería
			  de la computación y TI de la USB,</i><br>tienen el placer de
			   presentar en el marco<br>de su <i>Programa de Educación 
			 "Facilitadores en Ecuela Activa",</i><br>el Juego didáctico de
			  Memoria: <i>FIGURAS RUPESTRES VENEZOLANAS.</i>
		</p>
		<p>
			Uno de los Objetivos del ANAR, es el conocimiento y difusión<br>
			de nuestro <i>Patrimonio Cultural Arqueológico.</i>
		</p>
		<p style="margin-bottom:5%">
			Partiendo de la premisa que "no se cuida lo que no se conoce"<br>
			a través de las nuevas TIC, implementamos un proceso<br> de 
			Conocimiento y Divulgación, como estrategia pedagógica<br>de <i>Preservación
			del Patrimonio Rupestre venezolano,</i><br>que involucre de forma
			lúdica y on line<br>a toda la comunidad educatuva,<br>con énfasis en
			educadores y estudiantes,<br>ampliando su formación al público en
			general.
		</p>
		<img src="images/logo FUNDABITAT.png" width="75px" style="margin-bottom: 5%">
        <img src="images/inicio-anar.png" width="140px" style="margin-bottom: 5%">
        <img src="images/USB.png" width="75px" style="margin-bottom: 5%">
    </div>
</div>
<div class="navbar navbar-default" id="bottom">
    <div class="navbar-header" style="margin-left:100%">
        <a href="#" class="navbar-brand" ng-click="changePage('instructions')">
            <img src= "images/flechita.png" width = "25px"></i>

        </a>
    </div>
</div>
