<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand" ng-click="changePage('profile')">
            <i class="mdi-navigation-arrow-back navbar-icon"></i>
        </a>
        <a class="navbar-brand">Mejores Puntuaciones</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="changePage('collection')">
                    <i class="mdi-content-content-copy navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="changePage('highscores')">
                    <i class="mdi-editor-insert-chart navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="logOut()">
                    <i class="mdi-action-exit-to-app navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-1"></div>
<div class="col-xs-10">
<div recuadro="recuadro">
    <div class="well">
    <table style="margin:auto;text-align: left;">
        <thead>
            <tr>
                <th class="col-xs-7">Usuario</th>
                <th class="col-xs-3">Puntuación</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-bottom: 1px solid #E0E0E0; height:50px;" ng-repeat='u in users' ng-class="{'current_user': u.doc._id == user._id}">
                <td class="col-xs-7" style="text-align: left !important; font-weight: bold;">{{u.doc._id}}</td>
                <td class="col-xs-3"style="">{{u.doc.highscore}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
