<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Mejores Puntuaciones</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" ng-click="changePage('home')">
                    <i class="mdi-action-home navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="changePage('collection')">
                    <i class="mdi-content-content-copy navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="changePage('highscores')">
                    <i class="mdi-editor-insert-chart navbar-icon"></i>
                </a>
            </li>
            <li>
                <a href="#" ng-click="logOut()">
                    <i class="mdi-action-exit-to-app navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<table style="margin:auto;text-align: left;">
    <thead>
        <tr>
            <th style="width:15%"> </th>
            <th style="width:50%;">Usuario</th>
            <th>Puntuación</th>
        </tr>
    </thead>
    <tbody>
        <tr style="border-bottom: 1px solid #E0E0E0; height:50px;" ng-repeat='u in users'>
            <td style="width:15%"> </td>
            <td style="text-align: left !important; font-weight: bold;">{{u.doc._id}}</td>
            <td style="">{{u.doc.highscore}}</td>
        </tr>    
    </tbody>
</table>