<div class="primary_background navbar navbar-default ">
</div>
<div style="display: table; width: 100%; height: 75%">
    <div id="instructions">
        <h1 class="primary">Instrucciones</h1>
        <p>
            Este juego es excelente para <i>divertirse</i> y <i>aprender</i><br>
            sobre nuestro <b>Patrimonio Rupestre</b><br> mientras desarrollamos nuestra
            <i>Memoria visual.</i>
        </p>
        <p>
            Está dividido en 4 partes
        </p>
        <p>
            <i>Fácil, Intermedio, Medio y Difícil</i> <br>
            con 64 niveles de tiempo y dificultad creciente. <br>
            Al final de cada 5 niveles encontrarás un <i>Dato Curioso</i> <br>
            que al leerlo, puedes seguir a los niveles siguientes.
        </p>
        <p>
            Entrando al juego por primera vez <br>
            coloca nombre de <i>Usuario</i> y <i>Contraseña</i><br>
            luego oprimir el boton de <i>Registrarse</i><br>
            y entrar apoyando la <img src="images/mano-ingresar.png" width="35px">
        </p>
        <p>
            a jugar <i>SOLITARIO</i>
            <img src="images/solitario.png">
            o <i>MULTIJUGADORES</i>
            <img src="images/multijugador.png">
            <br>
            <span class="primary enfasis">diviértete</span> y 
            <span class="primary enfasis">aprende</span>
        </p>
    </div>
</div>
<div class="navbar navbar-default" id="bottom">
    <div class="navbar-header" style="margin-left:100%">
        <a href="#" class="navbar-brand" ng-click="changePage('auth')">
            <img src= "images/flechita.png" width = "25px"></i>
        </a>
    </div>
</div>
