<div class="primary_background navbar navbar-default ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Bienvenido, {{user._id}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Tu colección de cartas"
                   href="#" ng-click="changePage('collection')">
                    <i class="mdi-content-content-copy navbar-icon"></i>
                </a>
            </li>
            <li>
                <a title="Puntuaciones más altas"
                   href="#" ng-click="changePage('highscores')">
                    <i class="mdi-editor-insert-chart navbar-icon"></i>
                </a>
            </li>
            <li>
                <a title="Créditos"
                   href="#" ng-click="changePage('credits')">
                    <i class="mdi-action-receipt navbar-icon"></i>
                </a>
            </li>
            <li>
                <a title="Salir"
                   href="#" ng-click="logOut()">
                    <i class="mdi-action-exit-to-app navbar-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="main" class="row" style='font-family: "myFirstFont", sans-serif;'>
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-2 col-md-2 recuadro-blanco redondeado">
        <h2 class="title text-center gothic">{{user._id}}</h2>
        <!-- Imagen de perfil que deberia buscarse en la base de datos -->
        <img src="images/cards/3.png" width="100%" height="100%">
        <h4 class="title text-left gothic"> Niveles Desbloqueados: </h4>
        <h4 class="subtitle text-center gothic"> {{user.levels.length}} </h4>
        <h4 class="title text-left gothic"> Mayor Puntaje: </h4>
        <h4 class="subtitle text-center gothic"> {{user.highscore}} </h4>
        <h4 class="title text-left gothic"> Categoria: </h4>
        <h4 class="subtitle text-center gothic"> {{category}} </h4>
        <h4 class="title text-left gothic"> Cartas Ganadas: </h4>
        <h4 class="subtitle text-center gothic"> {{user.cards.length}} </h4>

    </div>
    <div class="col-xs-8 col-md-6 container recuadro-blanco redondeado" style="margin-left:5%">
      <button id="button_play" type="button" class="btn btn-block button_play" ng-click="changePage('home')"> <img src="images/solitario.png"><br>Solitario </button>
      <button id="button_multiplayer" type="button" class="btn btn-block button_multiplayer" ng-click="changePage('multiplayer')"><img src="images/multijugador.png"><br>Multijugador </button>
    </div>
</div>
