/* Colors 
 *
 * Primary #4DAF4E
 * Primary Dark 
 */

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main {
    height: 92%;
}

#credit {
    height: 8%;
    background-color: #4DAF4E;
    color: white;
}

#credit h4 {
    margin-top: 0;
}

#dialog {
}

#button_login {
    color: white;
    background-color: #4DAF4E;
}

#button_register {
    color: #4DAF4E;
}

.row {
    margin: 0;
}

.title {
    border-bottom: 1px solid lightgrey;
}

.primary {
    color: #4DAF4E !important;
}

.primary_background {
    background-color: #4DAF4E !important;
}

.navbar-brand {
    font-size: 1.7em;
}

.navbar-icon {
    font-size: 1.5em;
}

.navbar {
    padding: 0 8.33333333%;
}

.panel-body {
    padding: 0;
}